# These are the general API endpoints for the app and the Raspberry Pi
# If missing, use `make api` to generate them
app/api
openapitools.json
rpi/server/*

# Keep the impl code for controllers
!rpi/server/openapi_server/
rpi/server/openapi_server/*
!rpi/server/openapi_server/controllers/
