[Unit]
Description=mJPEG service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/bin/mJPEG.py
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target